  /**************************** css start ******************************/
  :root{--bgcolor:#d0e7f270;
    --surfacecolor:#046381;
  --secondcolor:#2A9FC3;
  --textcolor:#15262E;
  --basecolor:#fff;
  }

  * {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: var(--textcolor);
    background-color:var(--bgcolor);


  }

  main {
    scroll-behavior: smooth;
    padding-top: 0;
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    gap: 0;

  }

  section {
    min-height: 90vh;
    width: 100%;
  }



  /**************************** HEADER ******************************/
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--basecolor);
    background-color:var(--surfacecolor);
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 100;
  }


  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;

  }

  .nav-list ul {
    list-style: none;
    display: flex;
    gap: 30px;

  }

  .nav-list ul li a {
    text-decoration: none;
        color: var(--basecolor);
    font-weight: 600;
    transition: color 0.3s ease;
  }

  .nav-list ul li a:hover {
    color: var(--surfacecolor);
    font-weight: 800;
  }

  /***************sidebar******************/
  #sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    color: var(--basecolor);
    background-color: var(--surfacecolor);
    padding: 12px;
    transition: 0.5s ease-in-out;
  }
  

  #sidebar.active {
    left: 0;
  }

  #sidebar>ul>li {
    padding: 10px;
    width: 100%;
    list-style: none;

  }
  #sidebar ul{
    padding: 0px;
  }

  .sidehead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

  }

  .sidehead a {
    display: block;
    padding: 10px 0;

  }

  #sidebar li a {
    text-decoration: none;
    color: var(--basecolor);
  }

  #sidebar li:hover {
    background-color:var(--bgcolor);
  }



  /*********************** HERO SECTION ***********************/
  .hero-section {
    /* border: solid blue; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 60px 10%;
    width: 100%;
    background-color:var(--bgcolor);



  }

  .hero-contant {
    /* border: solid red; */

  }



  .hero-image {
    /* border: solid green;/ */
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .hero-image img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);

  }

  .hero-image img:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
  }

  .buttons a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    background-color:var(--surfacecolor);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background 0.3s ease;
  }

  .buttons a:hover {
    background-color: var(--secondcolor);
  }

  /************************ABOUT SECTION***********************/

  .about-section {
    padding: 50px 20px;
    /* border: solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--textcolor);
  }
strong{
  color: var(--surfacecolor);
}

  .about-section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  /***************** RESPONSIVE ******************/
  @media (max-width: 768px) {
    .hero-section {
      flex-direction: column-reverse;
      align-items: center;
      padding: 100px 20px 40px;
      justify-content: center;

    }

    .hero-contant {
      align-items: center;
      text-align: center;
    }

    .hero-image img {
      width: 200px;
      height: 200px;

    }

    .nav-list ul {
      flex-direction: column;
      gap: 15px;
      background-color: #000;
      position: absolute;
      top: 70px;
      right: 0;
      padding: 20px;
      display: none;
    }

    .hero-contant {
      width: 100%;
      margin-left: none;
    }

    .hero-contant h1 {
      font-size: 22px;
    }


    .hero-contant h3 {
      font-size: 14px;

      i[onclick="topbar()"] {
        display: block;
      }
    }

    .project-container {
      flex-direction: column;
      align-items: center;
    }

    .project-card {
      width: 90%;
    }
  }

  /************************skills section*****************************/
  .skill-section {

    padding: 0 40px;
    background-color:var(--bgcolor);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skill-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:var(--textcolor);
  }

  .skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 80%;

  }
 .skill-container h3{
  color: var(--textcolor);
 }
  .skill-container div {
    background-color:var(--surfacecolor);
    color: var(--basecolor);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .skill-container div:hover {
    transform: scale(1.2);
    color: var(--surfacecolor);
  }

  .skill-container img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
  }


  /************************* my project ********************************/
  .my-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
    text-align: center;
  }

  .my-project h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .project-intro {
    font-size: 1rem;
    color: #555;
    margin-bottom: 40px;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .project-card {
    background-color: var(--surfacecolor);
    color: var(--basecolor);
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .project-card:hover {
    /* transform: translateY(-10px); */
  }

  .project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .project-card h3 {
    margin-bottom: 10px;
  }

  .project-card p {
    font-size: 0.95rem;
    margin-bottom: 15px;
  }

  .project-card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00adb5;
    color: var(--basecolor);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }

  .project-card a:hover {
    background-color: #019ca3;
  }

  /******************** contact form ********************/

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;  
  }

  .contact-form form {
    display: flex;
    flex-direction: column;
    width: 85%;
    border: 1px dashed var(--surfacecolor);
    border-right: none;
    border-left: none;
    padding: 1rem;
  }

  .contact-form form div label {
    margin-left: auto;
  }

  .contact-form h2 {
    font-size: 2rem;
    color: var(--textcolor);
    text-align: center;
  }

  .contact-form form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .contact-form input,
.contact-form textarea {
  padding: 1rem;
  border: 1px solid var(--basecolor);
  border-radius: 8px;
  width: 100%;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid var(--surfacecolor);
  outline: none;
}


  .contact-form button {
    padding: 10px;
    background-color:var(--surfacecolor);
    color: var(--basecolor);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;

  }

  /* ----- FOOTER ----- */
  footer {
    text-align: center;
    padding: 40px;
    background: var(--surfacecolor);
    color:var(--basecolor);
  }

  footer a {
    margin: 0 10px;
    color: white;
text-decoration: none;
  }

  footer a:hover {
    color:var(--secondcolor);
  }

  footer p {
    font-weight: 800;
    margin: 8px;
  
  }